# Node.js
node_modules/
dist/
npm-debug.log*

# Ambiente e variáveis sensíveis
.env
sessions/

# Logs
logs/
*.log

# Arquivos temporários do sistema
.DS_Store
Thumbs.db

# Configurações de IDEs/editors
.vscode/
.idea/

# Docker
# Ignora arquivos de override ou gerados, mas mantém docker-compose.yml principal
docker-compose.override.yml
docker-compose.*.yml

# Outros
*.local
